.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
}
.titleWrap{
    margin-top: 174px;
    display: flex;
     
    justify-content: center; 

}
.title{
    color: #034AB5;
    font-family: 'Montserrat-Black';
    font-size: 48px;
    margin-top:7px;
    
    
}
.title2{
    color:#6F9DE3;
    font-family: 'NotoSans-Black';
    font-size: 25px;
    margin-left:3px;
  
}
.contextWrap{
    margin-top: 10px;
    display: flex; /* 추가된 부분 */
    flex-direction: column; /* 추가된 부분 */
    align-items: center; /* 추가된 부분 */
    text-align: center; 


   
}
/*각 입력창 위의 글자*/
.exp{
    display: flex; /* 수정된 부분 */
    margin-top: 8px;
    margin-right: 200px;
    color: #034AB5;
    font-family: 'NotoSans-Medium';
    font-size: 14px;
    align-items: center; 
}
.exp span{
    color:#4B7CC4;
    font-family: 'NotoSans-Regular';

}
.expS{
    display: flex;
    align-items: center; 


}
/* 비번 조건 체크 이미지 */
.imgCheck{
    width: 20px;
    height: 17px;
    margin-right: 10px; /* 이미지 사이의 간격을 조정하기 위해 추가한 부분 */
}

/* 입력창 */
.inputwraps{
    margin-top: 8px;
    background-color: #F3F5F6;
    border-radius: 5px;
    padding:15px;
   
    width:448px;
   margin-left: 5px;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
position: relative;
   
}
.inputwraps:focus-within{
    box-shadow: 0 0 0 1.5px #034AB5;
}
/* 칸 안에 있는 이미지 */
.imgIn{
    position: absolute;
    margin-left: 420px;
    margin-top:10px;
    width:45px;
    height:45px;


}
/* 짧은 입력창 */
.inputwrapshort{
   margin-left: 4px;
    display:flex;
    background-color: #F3F5F6;
    border-radius: 5px;
    padding:15px;
 margin-left: 2px;
    width:385px;

    display: flex;
    align-items: center;
    border: none;
    box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
}
.inputwrapshort:focus-within{
    box-shadow: 0 0 0 1.5px #034AB5;
}
input {
    
    padding-left: 10px;
    width:100%;
    height: 20px;
    font-size: 19px;
    background-color: #F3F5F6;
    border:none;
    outline:none;
  
    
}
input::placeholder {
    color: #034AB5;
    font-family: 'NotoSans-Regular';
}
.border1{
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}
.imgbtn img{
    
    width: 70px;
    height: 70px;
    margin-left: 5px;
   
  
}
.imgbtn{
    display: flex; /* 추가된 부분 */
    align-items: center; 
    cursor: pointer;
    
    margin-left: 6px;
}
/* 버튼 */
.completeBtn{
    margin-top: 45px;
    width: 480px;
    background-color: #034AB5;
  
    height:78px;
    color:white;
    border-radius: 5px;
    border:none;
    font-size:25px;
    font-family: 'NotoSans-Bold';
    cursor: pointer;
}
.completeBtn:disabled{
    background-color: #dadada;
    color:white;
}
