@font-face {
    font-family: "Montserrat-Black";
    src: url("./fonts/AnyConv.com__Montserrat-Black.woff") format('woff');
  }

  @font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/AnyConv.com__Montserrat-Medium.woff") format('woff');
  }
  
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/AnyConv.com__Montserrat-Bold.woff") format('woff');
  }
  